.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



article.film-card {
  height: 275px; /* Max 275px */
  max-width: 180px;
  background-size: cover;
  background-position: 50%;
  border-radius: 10px;
}

article img {
  height: 200px;
}

.film-row {
  display: flex;
  overflow-x: scroll;
}

.film-row-title{
  /*margin-top: 50px;*/
  text-align: left;
}
