
article.film-card {
  height: 275px; /* Max 275px */
  max-width: 180px;
  /*min-width: 160px;*/
  background-size: 100% 100%;
  background-position: 50%;
  border-radius: 10px;
  box-shadow: 4px 0px 25px 2px rgba(0, 0, 0, 0.2);
  margin: 40px 0px;
  transition: all .2s ease-in-out;
  opacity: .9;
  position: relative;
}

article.film-card:hover {
  opacity: 1;
  transform: scale(1.2);
  z-index: 1;
}

article div{
  position: absolute;
  /*display: flex;*/
  background-color: black;
  padding: 10px;
  opacity: 0.0;
  color: white;
  bottom: 0;
  /*border-radius: 30px;*/
  width: inherit%;
}

article:hover div {
  display: flex;
  background-color: black;
  padding: 10px;
  /*overflow: hidden;*/
  opacity: .7;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 89%;
}

nav img{
  height: 35px;
}

nav{
  margin-bottom: -10px;
}

nav h1{
  margin: 0px;
}

.landing-page{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -80px;
}

.landing-page-fancy-text{
  width: 100%;
  max-width: 800px;
  display:flex;
  margin: auto;
}

.temp-landing{
  display:flex;
  border-radius: 105px;
  box-shadow: 4px 0px 25px 25px white;
  max-width: 99%;
  margin: auto;
}

.comment{
  border-radius: 10px;
  border: 1px solid darkgrey;
  padding: 0 5px 5px 5px;
  margin-bottom: 10px;
}

.notes{
  border-radius: 10px;
  border: 1px solid darkgrey;
  padding: 0px 5px 5px 5px;
  margin-bottom: 10px
}

#search-form-buttons {
  width : 35%;
}

.film-row {
  display: flex;
  overflow-x: scroll;
}

.search-film-row {
  display: flex;
  flex-wrap: wrap;
}

.film-row-title{
  text-align: left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 0;
  font-size: 180%;
}

.detailed-card{
  background-color: black;
  height: 35em;
  color: white;
}

.stuff-next-to-poster {
  display: flex;
  flex-direction: column;
}

.detailed-card .big-movie-poster {
  float: right;
 /*NOTE: Float removes it from normal flow and has inline elements wrap around it */
     /*margin-left: 180px;*/
     /*overflow: hidden;*/
     /*text-align: left;*/

  min-height: 100%;
  max-height: 100%;
  -webkit-box-reflect: left -1px -webkit-gradient(linear, right bottom, left bottom, from(transparent), color-stop(.3, transparent), to(rgba(250, 250, 250, .4)));
}

.card {
  min-width: 170px;
  padding-left: 0.6rem !important;
  padding-right: 1rem !important;
} /*This padding stuff fixes an annoying styling issue*/

.detailed-card-tab{
  background-color: black
}

.login-registration-bar{
  background: blue;
}

.advancedSearchForm{
  height: 200px;
}

.film-row{
  height: 390px;
}

.detailed-card-content{
  font-size: 2.2vmin;
  width: auto;
  max-height: 380px;
  overflow-y: hidden;
}

.detailed-card-content span{
  color: darkgrey;
  overflow: hidden;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 108px;
  margin: 0;
}

.cover-flow-button {
  border:1px solid #616161;
  border-radius:2px;
  min-width:120px;
  padding:5px;
  margin:2px;
  background:#616161;
  color:hsla(0,0%,100%,.9)
}

.carousel-custom-buttons{
  position: relative;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

/*.cover-flow-button .left{
  position: absolute;
  bottom: 50px;
}

.cover-flow-button .right{
  position: absolute;
}*/


.timeline-title{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 500%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.results-text{
  background: snow;
  color: black;
  display: table;
  border-radius: 25px;
  padding: 0 50px 0px 50px;
  box-shadow: 4px 0px 15px 2px rgba(0, 0, 0, 0.2);
  margin: 0 auto 20px auto;
  text-align: center;
}

.results img{
  border-radius: 7px;
  box-shadow: 4px 0px 15px 2px rgba(0, 0, 0, 0.2);

}
